<header class="header">
  <div class="header__bar row">
    <h1 class="grid-6"><a href="/">NetShop</a></h1>
    <div class="user_nav grid-6">
      <a class="post" href="/items/new">出品</a>
    </div>
  </div>
</header>