<div classs="page_conteiner">
  <div class="page_box">
    <h1 class="mypage_title"><a href="/">NetShop</a></h1>
    <p class="success_comment">編集が完了しました</p>
    <p class="mypage_back"><%= link_to "マイページへ戻る", "/users/#{current_user.id}" %></p>
    <p class="bottom_bar">&copy; NetShop 2020.</p>
  </div>
</div>