.items_container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  /* float: left; */
  display: flex;
  justify-content: center;
}

.item_box a {
  display: inline-block;
  width: 180px;
  height: auto;
  margin: 20px;
  list-style: none;
  background-color: white;
  transition: all .5s;
  border: solid 1.5px black;
  text-decoration: none;

  
}

  .item_text {
    width: 180px;
    color:black;
    /* font-weight: bold; */
    font-size: 16px;
    padding: 5px 0 5px 0;
    background-color: white;
    text-align: center;
  }

  

  

  