.items_container {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  /* float: left; */
  display: flex;
  justify-content: center;
}

.item_box a {
  display: inline-block;
  width: 180px;
  height: auto;
  margin: 20px;
  list-style: none;
  background-color: white;
  transition: all .5s;
  border: solid 1.5px black;
  text-decoration: none;

  
}

  .item_text {
    width: 180px;
    color: black;
    font-size: 16px;
    padding: 5px 0 5px 0;
    background-color: white;
    text-align: center;
  }

  .item_link a {
    width: 180px;
    color: black;
    font-size: 16px;
    padding: 5px 0 5px 0;
    background-color: white;
    text-align: center;
    text-decoration: none;
  }

  

  .item_comment {
    /* height: 26px; */
    color: black;
    font-size: 15px;
    width: 180px;
    padding: 5px 0 5px 0;
    background-color: rgb(200, 200, 250);
    text-align: center;
    position: absolute;
    top:320px;
  }
    /* .comment_text {
      color: #202020;
      font-size: 16px;
      padding: 5px;
      word-wrap: break-word;
      
  
    } */

  

  /* .price-box {
    height: 28px;
    background-color: rgba( 0, 0, 0, 0.50 );
    border-radius: 0 13px 13px 0;
    position: absolute;
    top:150px;
  }  
  
  .price {
    color: white;
    font-size: 16px;
    padding: 5px 15px 5px 10px;
    text-align: left;

  } */



  