.user_item {
  display: inline-block;
  width: 180px;
  height: auto;
  margin: 20px;
  list-style: none;
  text-decoration: none;
  transition: all .5s;
  border: solid 1px black;
  
}

  .item_link {
    width: 180px;
    color: #FF3333;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0 10px 0;
    background-color: white;
    text-align: center;
    
  }

  a {
    text-decoration: none;
  }
