.mypageback_conteiner {
  display: flex;
  justify-content: center;
}

.mypageback_box {
  display: inline-block;
  width: 500px;
  height: 100%;
  background-color: #FFFFFF;
  text-align: center;
} 

.mypage_title a {
  font-size: 30px;
  color: #696969;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  border-bottom: solid 2px orange;
}

.success_comment {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 20px 0;
} 

.mypage_back a {
  display: inline-block;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color:#ffffff;
  padding: 5px 30px;
  margin-bottom: 20px;
  border-radius: 30px;
  background: skyblue;
  text-decoration: none;
} 

.bottom_bar {
  border-top: solid 2px orange;
  padding: 20px 15px;
  color: #696969;
  font-size: 20px;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 0;
}

